<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/homeStyles.css">
</head>
<body>
    <div id="loading">
        <div class="title">Finding the best dates for you..</div>
        <img src='/static/loading.gif' alt="Loading...">
    </div>
    <form id="form" class="form" action="result" method="POST">
        <div class="title">Welcome</div>
        <div class="subtitle">Let's find you some great deals!</div>

        <div class="input-container ic1">
          <input id="firstname" name="leavingFrom" class="input" type="text" placeholder=" " required/>
          <div class="cut"></div>
          <label for="firstname" class="placeholder">Leaving from</label>
        </div>

        <div class="input-container ic2">
          <input id="lastname" name="destination" class="input" type="text" placeholder=" " required/>
          <div class="cut"></div>
          <label for="lastname" class="placeholder">Destination</label>
        </div>



<!-- TODO: add calendar to choose dates -->



        <button type="text" class="submit" onclick="loading();">Search</button>
      </div>
    </form>

    <div class="calendar"></div>

    <!-- Script pour chargement lors de l'envoi du formulaire -->
    <script type="text/javascript">// <![CDATA[
        function loading(){
            console.log("TEXT: " + document.getElementById('firstname').value.length )
            if(document.getElementById('firstname').value.length && 
                document.getElementById('lastname').value.length) {         
                    console.log("all good!")           
                    document.getElementById('loading').style.display = 'flex';
                    document.getElementById('form').style.display = 'none';
                }
        }
    // ]]></script>

    <script src="/static/scripts/calendar.js"></script>
</body>
</html>