<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link rel= "stylesheet" type= "text/css" href= "../static/styles/homeStyles.css">
</head>
<body>
    <div id="loading">
        <div class="title">Finding the best dates for you..</div>
        <img src='/static/loading.gif' alt="Loading...">
    </div>
    <form id="form" class="form" action="result" method="POST">
        <div class="title">Welcome</div>
        <div class="subtitle">Let's find you some great deals!</div>

        <div class="input-container ic1">
          <input id="firstname" name="leavingFrom" class="input" type="text" placeholder=" " required/>
          <div class="cut"></div>
          <label for="firstname" class="placeholder">Leaving from</label>
        </div>

        <div class="input-container ic2">
          <input id="lastname" name="destination" class="input" type="text" placeholder=" " required/>
          <div class="cut"></div>
          <label for="lastname" class="placeholder">Destination</label>
        </div>
        <button type="button" class="submit" id="search">Search</button>
      </div>
    </form>

    <div id="calendar" class="calendar"></div>

    <script src="../static/scripts/calendar.js"></script>
    <script src="../static/scripts/search.js"></script>
</body>
</html>